body {
    direction: rtl;
}
h3,h2,h4,p,span,a,ul {
    text-align: start;
    font-family: 'Vazir', sans-serif;
}

.markdown li {
    margin-left: 0;
    margin-right: 1.5em;
    padding-left: 0;
    padding-right: 1em;

}
ul.network-icon {
    direction: ltr;
}

.hero-body .subtitle p {
    text-align: center;
}

.owl-stage-outer {
    direction: ltr;
}
